@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --card: #ffffff;

  --primary: #0c0c0c;
  --primary-mute: oklch(70.7% 0.022 261.325);
  --primary-foreground: #A896C5;
  --secondary: oklch(37.3% 0.034 259.733);

  --pale-pink: #f3ebff;
  --pale-orange: #ffefe6;
  /* --accent: #6918e4; */
  --accent: #562B9A;
  --accent-contrast: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-pale-pink: var(--pale-pink);
  --color-pale-orange: var(--pale-orange);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-mute: var(--primary-mute);
  --color-secondary: var(--secondary);
  --color-card: var(--card);
  --color-accent-contrast: var(--accent-contrast);
  --font-montserrat: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

/* Sponsors carousel – infinite scroll */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
