@import "tailwindcss";

:root {
  --background: #f0f0f0;

  --primary: #0c0c0c;
  --secondary: #1a1a1a;
  --primary-foreground: #A896C5;

  --pale-pink: #f3ebff;
  --pale-orange: #ffefe6;
  /* --accent: #6918e4; */
  --accent: #562B9A;
  --accent-contrast: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-pale-pink: var(--pale-pink);
  --color-pale-orange: var(--pale-orange);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-accent-contrast: var(--accent-contrast);
  --font-montserrat: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}
